<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biowit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="gumana ka na"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Biowit">
        <activity android:name=".MM_Profile" />
        <activity android:name=".Bio_ForgetPass" />
        <activity android:name=".Bio_SignUp" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MM_Settings" />
        <activity android:name=".Bio_LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MM_Leaderboard" />
        <activity android:name=".MM_CellQuest" />
        <activity android:name=".MM_Achievements" />
        <activity android:name=".MM_Shop" />
        <activity android:name=".MM_Play" />
        <activity android:name=".MM_AboutUs" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>